#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	# hack for CDBS bug #300149
	-rm -rf build

install/flacenstein::
	install -d debian/flacenstein/usr/share/flacenstein
	install debian/flacenstein-icon.png debian/flacenstein/usr/share/flacenstein
	install -d debian/flacenstein/usr/share/applications
	install debian/flacenstein.desktop debian/flacenstein/usr/share/applications
	install -d debian/flacenstein/usr/share/man/man1
	install docs/flacenstein.1 debian/flacenstein/usr/share/man/man1
	gzip -9 debian/flacenstein/usr/share/man/man1/*.1
	mv debian/flacenstein/usr/bin/flacapp.py debian/flacenstein/usr/bin/flacenstein
